
.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.toolTipCouple {
  font: 10px sans-serif;
  font-weight: bold;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 12px;
  text-align: center;
  border-radius: 8px 12px;
  visibility: hidden;
}